# --- .htaccess for yptox.com ---

# Enable the rewrite engine
RewriteEngine On

# Prevent looping
RewriteCond %{REQUEST_URI} !(\.html)$
RewriteCond %{REQUEST_URI} !/$

# Stop if the request is for an existing file
RewriteCond %{REQUEST_FILENAME} !-f
# Stop if the request is for an existing directory
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite the URL to the .html version
# e.g. /creation -> /creation.html
RewriteRule ^(.*)$ $1.html [L]